/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/public/media
/public/build
/storage/installed
uploads/profile/
uploads/article/
uploads/callaction/
uploads/comment/
uploads/featurebox/
uploads/featureimage/
uploads/guestticket/
uploads/ticket/